@model SuperStore.Domain.Entities.Product

    <div class="well">
        <h3>
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>
        @*Values of hidden inputs but will be included in the form while posting to AddToCart action and model binding will assign them to productId and returnUrl arguments accordingly.*@
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
    <div class="pull-right">
        @*allows the helper to derive the appropriate "name" attribute for the form-input control based on the property you specify in the lambda*@
        @*<input type="hidden" name="ProductID" value="1" />*@
        @Html.HiddenFor(x => x.ProductID)

        @*<input type="hidden" name="returnUrl" value="/" />*@
        @*Request.Url.PathAndQuery property returns absolute path of request with query parameters.
        if you came to AddToCart view from Index view then returnUrl will be "/", because the Index view is a root of the webapp*@
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="Add to cart" />
    </div>
        }
        <span class="lead"> @Model.Description</span>
    </div>